<h1>Listing bees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bees.each do |bee| %>
      <tr>
        <td><%= bee.name %></td>
        <td><%= link_to 'Show', bee %></td>
        <td><%= link_to 'Edit', edit_bee_path(bee) %></td>
        <td><%= link_to 'Destroy', bee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bee', new_bee_path %>
